@import "tailwindcss";
#outterdiv {
  padding: 10vh 0vw 10vh 0vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #07070A;
}
#content {
  display: flex;
  justify-content: center;
  height: 80vh;
  width: 90vw;
  gap: 10px;
  border-radius: 10px;
  background-color: #24272B;
  overflow-y: scroll;
  margin: 10px;
}
#title {
  font-size: 24px;
  color: white;
}
#addproduct {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
#inputs {
  display: flex;
  gap: 10px;
}
#product {
  width: fit-content;
  height: fit-content;
  border-radius: 12px;
  background-color: #4A525A;
}
#text {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 300px;
  border-radius: 10px 10px 0px 0px;
  padding: 10px;
  box-sizing: border-box;
  color: white;
}
#image {
  border-radius: 0px 0px 10px 10px;
}
#products-title {
  font-size: 18px;
  color: white;
}
#products {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 10px;
  width: fit-content;
  height: 480px;
  width: 936px;
  width: fit-content;
}
.input {
  border-radius: 5px;
  border: 2px solid #4A525A;
  background-color: #4A525A;
  color: white;
}
.input::placeholder {
  color: white;
}
#button {
  border: 2px solid #0073ff;
  border-radius: 10px;
  padding: 3px 5px 3px 5px;
  color: white;
  background-color: #0073ff;
}
#options {
  width: 181px;
}
#cart {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 10px;
  width: fit-content;
  height: 480px;
  width: 936px;
  width: fit-content;
  margin-bottom: 5px;
}
#sort {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
}
#sort p {
  width: fit-content;
}
#button0 {
  height: fit-content;
  border: 2px solid #0073ff;
  border-radius: 10px;
  padding: 2px;
  color: white;
  background-color: #0073ff;
  width: 80px;
}


#main1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}
#buttons1 {
  display: flex;
  gap: 10px;
}
.button1 {
  border: 1px solid grey;
  padding: 3px;
  border-radius: 5px;
}
#result1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#outcome1 {
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 2px;
  padding: 10px;
}

#content2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}
#text2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 4px;
  width: 300px;
  border-radius: 10px 10px 0px 0px;
  padding: 10px;
  box-sizing: border-box;
  color: white;
}
#main2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5vh;
  gap: 50px;
  border: 2px solid grey;
  border-radius: 16px;
  height: fit-content;
  width: fit-content;
  justify-content: center;
}
#inputs2 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}
.input2 {
  border: 2px solid gray;
  border-radius: 5px;
  padding: 3px;
}
#users2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
#button2 {
  border: 2px solid grey;
  border-radius: 5px;
  width: fit-content;
  padding: 2px 5px 2px 5px
}