@import "tailwindcss";
#outterdiv {
  padding: 10vh 0vw 10vh 0vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #07070A;
}
#content {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 80vh;
  width: 90vw;
  gap: 10px;
  border-radius: 10px;
  background-color: #24272B;
}
#title {
  font-size: 24px;
  color: white;
}
#addproduct {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
#inputs {
  display: flex;
  gap: 10px;
}
#product {
  width: fit-content;
  height: fit-content;
  border-radius: 12px;
  background-color: #4A525A;
}
#text {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 300px;
  border-radius: 10px 10px 0px 0px;
  padding: 10px;
  box-sizing: border-box;
  color: white;
}
#image {
  border-radius: 0px 0px 10px 10px;
}
#products-title {
  font-size: 18px;
  color: white;
}
#products {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 10px;
  width: fit-content;
  height: 60vh;
  width: 936px;
  width: fit-content;
  overflow-y: scroll;
}
.input {
  border-radius: 5px;
  border: 2px solid #4A525A;
  background-color: #4A525A;
  color: white;
}
.input::placeholder {
  color: white;
}
#button {
  border: 2px solid #0073ff;
  border-radius: 10px;
  padding: 3px 5px 3px 5px;
  color: white;
  background-color: #0073ff;
}
#options {
  width: 181px;
}